{% extends "base.html" %}

{% block title %}
<title>architechture</title>
{% endblock title %}


{% block content %}
<div class="services">
  <h2 class="service-content">Architecture </h2>
  <div class="post">
        <img src="{{ url_for('static' , filename='images/animal01.png') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">Once rare, now they are thriving. life in African rainforest..</a></h4>
          <br>
          <i class="fas fa-user"> Mike</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2024</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/animal01.png') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">Once rare, now they are thriving. life in African rainforest..</a></h4>
          <br>
          <i class="fas fa-user"> Mike</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2024</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/animal01.png') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">Once rare, now they are thriving. life in African rainforest..</a></h4>
          <br>
          <i class="fas fa-user"> Mike</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2024</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/animal01.png') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">Once rare, now they are thriving. life in African rainforest..</a></h4>
          <br>
          <i class="fas fa-user"> Mike</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2024</i>
        </div>
      </div>
  
</div>

{% endblock content %}