{% extends "base.html" %}

{% block title %}
<title>architechture</title>
{% endblock title %}


{% block content %}

<div class="services">

  <h2 class="service-content">Innovative Architectural Designs </h2>
  <p>Our architectural services provide innovative and sustainable design solutions that meet your unique needs and
    preferences.</p>

  <div class="post">
    <img src="{{ url_for('static' , filename='images/uploads/architechture1.PNG') }}" alt="" class="slider-image">
    <div class="post-info">
      <h4><a href="#">Innovative Office Buildings</a></h4>
      <p>Our modern office buildings are designed with innovation and sustainability in mind. They feature flexible
        layouts, energy-efficient systems, and cutting-edge technology to enhance productivity and comfort.</p>
    </div>
  </div>

  <div class="post">
    <img src="{{ url_for('static' , filename='images/uploads/architechture2.PNG') }}" alt="" class="slider-image">
    <div class="post-info">
      <h4><a href="#">Contemporary Residential Complexes</a></h4>
      <p>Explore our contemporary residential complexes that combine style and functionality. These complexes offer a
        variety of living options, communal spaces, and are designed to foster a sense of community.</p>
    </div>
  </div>


  <div class="post">
    <img src="{{ url_for('static' , filename='images/uploads/architechture3.PNG') }}" alt="" class="slider-image">
    <div class="post-info">
      <h4><a href="#">Bespoke Custom Homes</a></h4>
      <p>We specialize in creating bespoke custom homes tailored to your unique lifestyle and preferences. From initial
        design to final construction, we ensure every detail reflects your vision and meets the highest standards of
        quality.</p>
    </div>
  </div>


  <!--
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/architechture4.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details...</a></h4>
          <br>
          <i class="fas fa-user">Anonymous </i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>

-->

</div>

{% endblock content %}