{% extends "base.html" %}

{% block title %}
<title>car dealership</title>
{% endblock title %}

{% block content %}

<div class="services">

  <h2 class="service-content">Premium Car Sales</h2>
<p>Explore our wide selection of premium cars, offering the latest models with excellent performance and reliability.</p>
  <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <h4><a href="#">Sleek Electric Sedan</a></h4>
          <p>Discover the future of driving with our sleek electric sedan. This vehicle offers cutting-edge technology, zero emissions, and a stylish design that turns heads wherever you go.</p>

        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars2.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <h4><a href="#">High-performance Sports Car</a></h4>
          <p>Experience the thrill of driving with our high-performance sports car. With its powerful engine, advanced features, and dynamic design, this car is built for speed and excitement.</p>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars3.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
           <h4><a href="#">Versatile Compact SUV</a></h4>
          <p>Enjoy the perfect blend of style and functionality with our versatile compact SUV. This vehicle offers ample space, advanced safety features, and is perfect for both city driving and off-road adventures.</p>
        </div>
      </div>

<!--
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars4.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details...</a></h4>
          <br>
          <i class="fas fa-user">Anonymous </i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
-->
  
</div>

{% endblock content %}