{% extends "base.html" %}

{% block title %}
<title>car dealership</title>
{% endblock title %}

{% block content %}
<div class="services">
  <h2 class="service-content">Car dealership </h2>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">Once rare, now they are thriving. life in African rainforest..</a></h4>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars3.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars4.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars2.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">Once rare, now they are thriving. life in African rainforest..</a></h4>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
  
</div>

{% endblock content %}