{% extends "base.html" %}

{% block title %}
<title>homepage</title>
{% endblock title %}

{% block content %}


<!-- page wrapper -->
<div class="page-wrapper">

  <!-- carousel -->
  <div class="post-slider">
    <h3 class="slider-title one">latest</h3>
    <i class="fas fa-chevron-left prev"></i>
    <i class="fas fa-chevron-right next"></i>

    <div class="post-wrapper">

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/water1.jpg') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4>Bottled Water</h4>
          <br><a href="/water" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a><br>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/architechture1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4>Innovative Office Buildings</h4>
          <br><a href="/realestate" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a><br>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4>Sleek Electric Sedan</h4>
          <br><a href="/cars" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a><br>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/water3.jpg') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4>Can Water</h4>
          <br><a href="/water" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a><br>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4>Modern Urban Skyscrapers</h4>
          <br><a href="/realestate" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a><br>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/agriculture3.jpg') }}" alt="" class="slider-image">

        <div class="post-info">
          <br>
          <h4><a href="#">Fresh Farm Produce</a></h4>
          <br><a href="/agriculture" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a><br>
        </div>
      </div>



      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/architechture2.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4>Contemporary Residential Complexes</h4>
          <br><a href="/realestate" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a>
          <br>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars2.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4>High-performance Sports Car</h4>
          <br>
          <a href="/cars" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a>
          <br>
        </div>
      </div>

      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/agriculture1.jpg') }}" alt="" class="slider-image">

        <div class="post-info">
          <br>
          <h4>Fresh Poultry Products</h4><br>
          <a href="/agriculture" class="visit">visit <i class="fa-solid fa-square-arrow-up-right"></i></a>
          <br>
        </div>
      </div>

    </div>
  </div>
</div>


<h2 class="services-head">OUR SERVICES</h2>
<hr>

<div class="content" id="services">
  <div class="content-section">
    <ul>
      <li> <a href="/realestate">Luxury Apartments</a> </li>
      <ul>
        <p>Discover our exclusive range of luxury apartments in prime locations. Perfect for modern living with
          top-notch
          amenities and stunning views.</p>
      </ul>

    </ul>
  </div>

  <div class="content-section">
    <h2> </h2>
    <ul>
      <!--
<li><a href="#">Expert Education consultancy</a> </li>
<p>Our educational consultancy services offer guidance and support for students and institutions to achieve academic excellence.</p>
-->
      <li><a href="/architechture">Innovative Architechtural designs</a> </li>
      <ul>
        <p>Our architectural services provide innovative and sustainable design solutions that meet your unique needs
          and
          preferences.</p>
      </ul>

    </ul>

  </div>


  <div class="content-section">
    <h2> </h2>
    <ul>
      <li><a href="/cars">Premium Car sales</a> </li>
      <ul>
        <p>Explore our wide selection of premium cars, offering the latest models with excellent performance and
          reliability.</p>
      </ul>


      <!--

<li><a href="#">Secure Money Exchange</a></li>
<p>Our money exchange services offer competitive rates and secure transactions for all your currency conversion needs.</p>

 <li><a href="#">Exciting Entertainment Services</a></li>
<p>We provide a variety of entertainment services, including event planning, talent booking, and more, to make your occasions memorable.</p>

-->

    </ul>

  </div>
</div>

<div class="content">
  <div class="content-section">
    <h2> </h2>
    <ul>
      <!--
<li><a href="#">Expert Education consultancy</a> </li>
<p>Our educational consultancy services offer guidance and support for students and institutions to achieve academic excellence.</p>
-->
      <li><a href="#">Property Trading</a></li>

      <ul>
        <p>We facilitate smooth and transparent buying and selling of properties, ensuring you get the best deals in the
          market.</p>
      </ul>



    </ul>

  </div>


  <div class="content-section">
    <h2> </h2>
    <ul>
      <li><a href="/agriculture">Koko Farm</a></li>
      <ul>
        <p>Koko Farm provides high-quality poultry, dairy products, and fresh produce. We are committed to sustainable
          farming practices and delivering nutritious and delicious products to our customers.</p>
      </ul>
    </ul>

  </div>

  <div class="content-section">
    <h2> </h2>
    <ul>
      <!--
<li><a href="#">Expert Education consultancy</a> </li>
<p>Our educational consultancy services offer guidance and support for students and institutions to achieve academic excellence.</p>
-->
      <li><a href="/water">Koko water</a></li>
      <ul>
        <p>Discover the pure refreshment of <b>Koko Water</b>, where quality meets convenience. Our range of water
          products is crafted to suit every lifestyle and occasion, offering a crystal-clear taste you can trust.</p>
      </ul>

    </ul>

  </div>

</div>


<!-- page wrapper -->

<!--
<div class="page-wrapper">
  
  <- carousel ->
  <div class="post-slider">
    <h3 class="slider-title">our partners</h3>
    <i class="fas fa-chevron-left prev"></i>
    <i class="fas fa-chevron-right next"></i>
    
    <div class="post-wrapper">
      
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate2.PNG') }}"  alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/architechture3.PNG') }}"  alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars3.PNG') }}"  alt="" class="slider-image">
        <div class="post-info">
          <br>
        <h4><a href="single.html">#details</a></h4> <br>
        <i class="fas fa-user"> anonymous</i>
        &nbsp;
        <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars4.PNG') }}"  alt="" class="slider-image">
        <div class="post-info">
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      
     <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/architechture4.PNG') }}"  alt="" class="slider-image">
        <div class="post-info">
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
    </div>
  </div>
  
</div>
-->
{% endblock content %}