{% extends "base.html" %}

{% block title %}
<title>footer messages</title>
{% endblock title %}

{% block content %}
  

<!-- page wrapper -->
<div class="page-wrapper">
  
  <!-- carousel -->
  <div class="post-slider">
    <h3 class="slider-title one">messages</h3>
    <br>
    <div class="slider-title" style="background-color: blue;">
      <p>hello</p>
      <table>
        <tr>
          {% for contact in contacts %}
          <td>{{ contact.email }}</td>
          {% endfor %}
        </tr>
      </table>
    </div>

 </div>
 </div>
 {% endblock content %}