{% extends "base.html" %}

{% block links %}



{% endblock links %}

{% block title %}
<title>ux review</title>
{% endblock title %}

{% block content %}


<!-- page wrapper -->
<div class="page-wrapper">

  <!-- carousel -->
  <div class="post-slider">
    <h3 class="slider-title one">UX REVIEWS</h3>
    <div>
      {% if review != '' %}
      <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>EMAIL</th>
          <th>REVIEW</th>
          <th>VISIBILITY</th>
          <th>DATE SUBMITTED</th>
        </tr>

        {% for i in range(review|length) %}
        <tr>
          {% for j in range(review[i]|length) %}
          <td>
            {{ review[i][j] }}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}


      </table>
      {% else %}
      <h4 style="text-align: center;">No reviews yet!</h4>
      {% endif %}
    </div>

  </div>
</div>
{% endblock content %}