{% extends "base.html" %}

{% block title %}
<title>realestate</title>
{% endblock title %}

{% block content %}
<div class="services">
  <h2 class="service-content">Real Estates</h2>
  <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate2.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate2.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
  
</div>

{% endblock content %}