{% extends "base.html" %}

{% block title %}
<title>Real Estates</title>
{% endblock title %}

{% block content %}
<div class="services">
  <h2 class="service-content">LUXURY APARTMENTS</h2>
<p>Discover our exclusive range of luxury apartments in prime locations. Perfect for modern living with top-notch amenities and stunning views.</p>

  <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate1.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
         
 <h4><a href="#">Modern Urban Skyscrapers</a></h4>
<p>Explore our state-of-the-art urban skyscrapers designed for modern living. These high-rise buildings offer breathtaking views, premium amenities, and are located in the heart of the city.</p>
        </div>
      </div>


      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate2.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
         <h4><a href="#">Charming Suburban Homes</a></h4>
<p>Experience the epitome of luxury with our elegant villas. These properties feature contemporary designs, private pools, and expansive living spaces, providing an exquisite lifestyle.</p>
        </div>
      </div>


      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate3.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
         <h4><a href="#">Elegant Luxury Villas</a></h4>
<p>Explore our state-of-the-art urban skyscrapers designed for modern living. These high-rise buildings offer breathtaking views, premium amenities, and are located in the heart of the city.</p>
        </div>
      </div>

<!--
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/real_estate4.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details</a></h4> <br>
          <i class="fas fa-user"> anonymous</i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div> 
-->
  
</div>

{% endblock content %}