{% extends "base.html" %}

{% block title %}
<title>signup</title>
{% endblock title %}

{% block content %}
<form action="/sign_up" class="login" method="post">
  
<div class="login-content">
  <label for="name" class="login-label">name</label> <br>
  <input class="login-textbox" type="text" name="fullname" id="name" value="" placeholder="enter your full name" required="true"/>
  <br>
  <label for="email address" class="login-label">email address</label> <br>
  <input class="login-textbox" type="email" name="email" id="email" value=" " placeholder="enter email address" required="true"/>
  <br>
  <label for="password" class="login-label">password</label>
  <br>
  <input class="login-textbox" type="password" name="password1" id="password" value="" placeholder="enter password" required="true"/>
  <br>
  <label for="password" class="login-label">confirm password</label>
  <br>
  <input class="login-textbox" type="password" name="password2" id="password" value="" placeholder="confirm password" required="true"/>
  <br>
  <input type="submit" class="btn btn-db" value="Sign up">
  <br>
  
</div>


</form>

{% endblock content %}