{% extends "base.html" %}

{% block title %}
<title>upload image</title>
{% endblock title %}

{% block content %}
<div class="upload_image">
    <form method="post" action="/upload_image" enctype="multipart/form-data">
        <input type="file" name="image" id="image" multiple="true" autocomplete="off" required> <br>
        <input type="submit" value="upload">
        <br>

    </form>
</div>
{% endblock content %}

{% block script%}
<script>
    function filesize(elem) {
        console.log(elem.files[0].size),
            document.cookie = 'filesize=${elem.files[0].size}';
    }
</script>
{% endblock script%}