{% extends "base.html" %}

{% block title %}
<title>Koko Water</title>
{% endblock title %}

{% block content %}

<div class="services">

  <h2 class="service-content">KOKO WATER</h2>
  <p>Discover the pure refreshment of <b>Koko Water</b>, where quality meets convenience. Our range of water products is crafted to suit every lifestyle and occasion, offering a crystal-clear taste you can trust.</p>

  <div class="post">
    <img src="{{ url_for('static' , filename='images/uploads/water1.jpg') }}" alt="" class="slider-image">

    <div class="post-info">
      <h4><a href="#">Bottled Water</a></h4>
      <p>Perfect for staying hydrated on the go, our bottled water comes in various sizes to fit your needs. Each bottle is filled with clean, pure water, ensuring you enjoy a refreshing experience every time.</p>

    </div>
  </div>

  <div class="post">
    <img src="{{ url_for('static' , filename='images/uploads/water2.jpg') }}" alt="" class="slider-image">
    <div class="post-info">
      <h4><a href="#">Sachet Water</a></h4>
      <p>Looking for an affordable and convenient hydration solution? Our sachet water is ideal for everyday use, providing safe and reliable drinking water that's easy to carry and store.</p>
    </div>
  </div>

  <div class="post">
    <img src="{{ url_for('static' , filename='images/uploads/water3.jpg') }}" alt="" class="slider-image">

    <div class="post-info">
      <h4><a href="#">Can Water</a></h4>
      <p>For a modern twist, try our eco-friendly canned water. Whether you're at an event, traveling, or enjoying outdoor activities, our stylish cans offer a fresh and sustainable way to stay hydrated.</p>
    </div>
  </div>

  <!--
      <div class="post">
        <img src="{{ url_for('static' , filename='images/uploads/cars4.PNG') }}" alt="" class="slider-image">
        <div class="post-info">
          <br>
          <h4><a href="single.html">#details...</a></h4>
          <br>
          <i class="fas fa-user">Anonymous </i>
          &nbsp;
          <i class="fas fa-calender">may 31,2023</i>
        </div>
      </div>
-->

</div>

{% endblock content %}
